[submodule "uWebSockets"]
	path = uWebSockets
	url = git@github.com:uNetworking/uWebSockets.git
[submodule "backend/uWebSockets"]
	path = backend/uWebSockets
	url = git@github.com:uNetworking/uWebSockets.git
[submodule "backend/json"]
	path = backend/json
	url = git@github.com:nlohmann/json.git
